.page-content-alert{
    margin-top: 50px;
    min-height: 1200px;
    max-height: 1201px;
    overflow: auto;
    /* background: rgb(61, 61, 61); */
    background: linear-gradient(to bottom, rgb(98, 28, 230), transparent);
}

.display-alert-wrapper{
    margin-top: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
 

}

.fine-list{
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
   margin: 0.7em 0.5em;
}