.displaybox-content{
    font-family: "Montserrat", serif;
    justify-content: space-between;
    height: fit-content;
    overflow: auto;
    width: 90%;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 1em 1em;
}

.offense-level{
    display: flex;
    flex-direction: column;
}

.offense-level p{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 2rem;
}

.displaybox-content h3,h4,p{
    margin:0;
}

.of-fr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;

}

.of-des{
    font-family: "Montserrat", serif;
    font-size: 0.5rem !important; 
    font-weight: 500 !important;
}

