.page-content-fine{
    margin-top: 50px;
    min-height: 1200px;
    max-height: 1201px;
    overflow: auto;
    /* background: rgb(61, 61, 61); */
    background: linear-gradient(to bottom, rgb(98, 28, 230), transparent);
}
