.page-content-fine{
    margin-top: 50px;
    min-height: 1200px;
    max-height: 1201px;
    overflow: auto;
    /* background: rgb(61, 61, 61); */
    background: linear-gradient(to bottom, rgb(98, 28, 230), transparent);
}

.fine-box-content{
    margin-top: 10%;
    height: auto;
}

.fine-box-content-inputs{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.fine-box-content-inputs h3{
    color: white;
}

.fine-box-content-inputs input{
    height: 30px;
    border-radius: 5px;
}

.fine-box-content-inputs select{
    height: 35px;
    border-radius: 5px;
}

.fine-box-content-inputs select option{
    width: 75px;
}

.proceed-button-make-fine{
    height: 40px;
    background: rgb(131, 20, 242);
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.clear-button-make-fine{
    height: 40px;
    background: rgb(164, 122, 240);
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

