.counter-box {
    background: white;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.counter-box-text {
    color: rgb(34, 32, 32);
    font-weight: 500;
}

.counter-box-number {
    Background: rgb(42, 26, 224);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
