.page-content-search{
    margin-top: 50px;
    min-height: 1200px;
    max-height: 1201px;
    overflow: auto;
    /* background: rgb(61, 61, 61); */
    background: linear-gradient(to bottom, rgb(98, 28, 230), transparent);
}

.search-box-content{
    margin-top: 10%;
    height: auto;
}

.search-box-content h2{
    font-family: "Montserrat", serif;
    text-align: center;
    color: white;
    margin-bottom: 10%;
}

.search-input{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 35px;
    margin: auto;
    gap: 5%;
    margin-bottom: 10%;
}

.search-input input{
    font-family: "Montserrat", serif;
    width: 70%;
    border: none;
    border-radius: 2em;
    padding-left: 1em;
}

.search-input input:focus{
    outline: none;
    border: none;
}

.search-input input::placeholder{
    font-family: "Montserrat", serif;
}

.search-input button{
    font-family: "Montserrat", serif;
    width: 30%;
    border: none;
    border-radius: 1.5em;
    background: rgb(90, 2, 178);
    color: white;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    
}
 
.search-input button:hover{
    background: white;
    color: rgb(90, 2, 178);
    scale: 0.9;
}

.fine-on-the-offender{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 5%;
    padding: 5%;
}

.fine-on-the-offender button{
    font-family: "Montserrat", serif;
    width: fit-content;
    height: fit-content;
    padding: 1em 2em;
    border-radius: 2em;
    border: none;
    background: rgb(90, 2, 178);
    color: white;
    margin-top: 5%;
    transform: translate(0.3s ease-in-out);
}

.fine-on-the-offender button:hover{
    background-color: white;
    color:rgb(90, 2, 178);
    scale: 0.9;
}
