.page-content-login{
    margin-top: 50px;
    min-height: 950px;
    max-height: 1000px;
    overflow: auto;
    background: linear-gradient(to bottom, rgb(47, 135, 218), transparent);
}

.login-title{
    margin-top: 20%;
    text-align: center;
}

.login-title h1{
    color: white;
    font-family: "Montserrat", serif;
}

.login-title p{
    color: white;
    font-family: "Montserrat", serif;
}

.elements{
    margin-top: 25%;
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 50px;
    margin-top: 15%;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.title-box h1{
    font-family: "Montserrat", serif;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 10% auto;
    height: auto;
    padding: 2%;
    border-radius: 5px;
}

.input{
    font-family: "Montserrat", serif;
    display: flex;
    align-items: center;
    width: auto;
    height: 45px;
    background: #ffffff;
    border-radius: 2em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.input input{
    margin-left: 5%;
    height: 30px;
    width: 90%;
    background:#ffffff;
    font-family: "Montserrat", serif;
    border: none;
    outline:none;
    font-size: 14px;
}

.forgot-password{
    margin-top: 10%;
    color: rgb(28, 29, 29);
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat", serif;
}

.forgot-password span{
    color: rgb(55, 12, 96);
    cursor: pointer;
}

.submit-container{
    display: flex;
    margin: 10% auto;
    justify-content: center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.65em 3em;
    width: fit-content;
    font-family: "Montserrat", serif;
    color: aliceblue;
    background: lightseagreen;
    border-radius: 2em;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
